[Unit]
Description=Logger
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=$(pwd)
ExecStart=docker run -d website-availability-logger
ExecStop=docker stop website-availability-logger
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target